
body {

}

.wrapper {
    background-color: lightgray;
    padding: 30px 50px 30px 50px;
}

.top {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    
    height: 200px;
    width: 100%; 
    background-color: white;
    
    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.content1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 20px 40px 20px 40px;
    
    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.buttons {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-wrap: wrap;

    height: 100px;
    width: 100%; 
    background-color: white;
    
    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;  
}

.button-layout {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;

    justify-content: flex-start;
    margin-left: 30px;

}

button {
    max-height: 60px;
    min-height: 60px;
    max-width: 150px;
    min-width: 150px;
    margin-right: 30px;
    margin-left: 0px;
    padding-bottom: 0px;
    font-family: helvetica;
    font-size: 25px;
    color: #fff;
}
.click1 {
    background-color: red;
}

.click2 {
    background-color: blue;
}

.bottom {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

    margin-top: 30px;
    margin-bottom: 0px;
    height: 300px;
    width: 100%; 
}

.image {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
 
    justify-content: center;
    background-color: white;
}

.content2 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    /* margin: 10px 10px 10px 10px; */
    background-color: white;

    width: 100%;
    text-align: left;
    padding: 20px 40px 20px 40px;
    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

footer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;

    -webkit-box-sizing:border box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

    background-color: dimgray;
    width: 100%;
    color: white;
    text-decoration: none;
    
    align-self: flex-end;
    justify-content; flex-end;
    -webkit-justify-content; flex-end;
}

.button {
    min-height: 50px;
    max-height: 50px;
    min-width: 27px;
    min-width: 27px;
    color: white;
    font-size: 25px;
    padding-right: 50px;
    vertical-align: middle;
    padding-top: 17px;
    text-decoration: none;
    font-family: trebuchet ms;
}

p {
    color: black;
    font-size: 20px;
    font-family: ariel;
}

p1 {
    font-family: ariel; 
}
